@model List<Colet>

<h2>Lista de Colete</h2>
<a href="/GestiuneColete/AdaugaColet">Adauga Colet</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Destinatar</th>
            <th>Stare</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var colet in Model)
        {
            <tr>
                <td>@colet.ColetId</td>
                <td>@colet.Destinatar</td>
                <td>@colet.Stare</td>
                <td>
                    <form method="post" asp-action="ChangeState" asp-route-coletId="@colet.ColetId">
                        <button type="submit">Change State</button>
                    </form>
                    @if (User.IsInRole("Admin"))
                    {
                        <form method="post" asp-action="DeletePackage" asp-route-packageId="@colet.ColetId">
                            <button type="submit">Delete</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>